@import uk.gov.hmrc.urls.Link

@(customClass: Option[String] = None, langMap: Map[String, Lang], langToUrl: (String => Call))(implicit lang: Lang)

<p class="@if(customClass.isDefined) {@customClass.get}">
    @langMap.map { case (key: String, value: Lang) =>
            @if(lang.code != value.code) {
                @Link.toInternalPage(
                    id      = Some(s"$key-switch"),
                    url     = s"${langToUrl(key)}",
                    value   = Some(key.capitalize)).toHtml
            } else {
               @key.capitalize
            }
            @if(key != langMap.last._1) { @Html(" | ") }
    }
</p>